body {
  font-family: 'Playfair Display SC', serif;
  background-image: url(/src/images/image.jpg);
  background-image: cover;
  font-family: 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  display: block;
}
