.list {
  @media screen and (max-width: 767px) {
    padding-left: 0px;
    max-width: 230px;
  }
  padding: 0;
  margin: 0;
  padding-left: 40px;
  margin-left: auto;
  margin-right: auto;
}
.item {
  @media screen and (max-width: 767px) {
    max-width: 260px;
    font-size: 11px;
  }
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
