.list {
  padding: 0;
  margin: 0;
  padding-left: 40px;
  margin-left: auto;
  margin-right: auto;
}
.item {
  display: flex;
  align-items: center;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}
