.list {
  @media screen and (min-width: 320px) {
    padding-left: 0px;
    max-width: 230px;
  }
  padding: 0;
  margin: 0;
  padding-left: 40px;
  margin-left: auto;
  margin-right: auto;
}
.item {
  @media screen and (min-width: 320px) {
    max-width: 260px;
    font-size: 11px;
  }
  display: flex;
  align-items: center;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}
